.last__title {
  font-weight: 700;
  font-size: 50px;
  color: #504178;
  text-align: center;
  margin-top: 150px;
}
.last__desc {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #4C3D74;
}
.last__btn {
  font-weight: 700;
  font-size: 16px;
  color: #FFFFFF;
  background: #A387C4;
  border-radius: 30px;
  padding: 20px 70px;
  border: none;
  cursor: pointer;
}
.last__block {
  display: flex;
  column-gap: 30px;
  margin-top: 62px;
  margin-bottom: 173px;
  position: relative;
  align-items: center;
}
.last__img0 {
  position: absolute;
  right: 150px;
  bottom: -174px;
}
.last__box {
  display: flex;
  column-gap: 28px;
  align-items: center;
}